body {
	background-color:	#424242;
	color:	#BDBDBD;
}
img.jl_thumbnail {
	box-shadow: 5px 5px 3px #2D2D2D;
}
img.preview {
	box-shadow: 8px 8px 4px #2D2D2D;
}
img.img-responsive {
	display: inline;
}
div.thumbnail {
	border:none;
	background-color:	#424242;
	height: 175px;
	text-align: center;
}
a.btn-default,btn {
 	background-color:	transparent; 
 	border-color: transparent; 
 	color: #7C7C7C;
 	font-size: 16px;
}
a:hover.btn-default,btn {
 	background-color:	transparent; 
 	border-color: #7C7C7C; 
 	color: #7C7C7C;
 	font-size: 16px;
}
div.exif_info {
	margin: 25px;
	color:	#424242;
}
div.exif_info:hover {
	margin: 25px;
	color:	#BDBDBD;
}
div.preview_img {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	text-align: center;
}
div.original_img {
	margin-left: 25px;
	margin-bottom: 10px;
}
img.logo {
	float: right;
}
div.nav_buttons {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
span.img_description {
	font-size: x-small;
}
div.container {
	max-width:	1024px;
}
img.category_img {
	margin-bottom: 20px;
	box-shadow: 5px 5px 3px #2D2D2D;
}
img.site_brand {
	margin-top:	-6px;
}
div.exif_item {
	white-space: nowrap;
}
div.exif_name {
	width:	200px;
	display: inline-block;
}
div.exif_value {
	width:	200px;
	display: inline-block;
}